@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url(./animations.css);

body {
    background-color: #000;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

#main {
    transition-duration: 1s;
}

.preload {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: preLoad 3s;
    opacity: 0;
}

.preload-hidden {
    display: none;
}

.hidden {
    opacity: 0;
}

.navbar-brand {
    display: flex;
    justify-content: center;
}

.presentation {
    margin-top: 1em;
    background: url(../img/background.png) center fixed;
    padding: 10% 0;
}

.btn {
    color: #fff;
    border: 0.5px solid #fff;
    border-radius: 10px;
    vertical-align: top;
    font-size: 18px;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.information {
    margin-top: 2.5em;
    padding: 2em;
}

.information i {
    font-size: 2.5em;
    margin-bottom: 1rem;
}