@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url(./animations.css);

body {
    background-color: #000;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

#main {
    transition-duration: 1s;
}

.preload {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: preLoad 3s;
    opacity: 0;
}

.preload-hidden {
    display: none;
}

.hidden {
    opacity: 0;
}

.navbar-brand {
    display: flex;
    justify-content: center;
}

.presentation {
    margin-top: 1em;
    background: url(../img/background.png) center fixed;
    padding: 13% 0;
}

.presentation h1 {
    text-shadow: 3px 5px 4px #000;
    font-weight: bold;
}

.btn {
    color: #fff;
    border: 0.5px solid #fff;
    border-radius: 10px;
    vertical-align: top;
    font-size: 18px;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.information {
    margin-top: 2.5em;
    padding: 2em;
}

.information i {
    font-size: 2.5em;
    margin-bottom: 1rem;
}

.paranormal-academy {
    background: url(../img/pentagram.png) center;
    padding: 5em;
    margin: 2em;
}

.academy {
    background-image: url(../img/pentagram.png);
    font-weight: bold;
}

.registration {
    margin: 5em 10rem;
    padding: 1rem;
    background-color: rgba(87, 0, 0, 0.4);
    border-radius: 10px;
}

.academy-logo {
    margin: auto;
    display: block;
}

.registration input, .registration select, .registration option {
    font-weight: bold;
}

.registration button {
    display: block;
    margin: auto;
    margin-top: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}

@media screen and (max-width: 700px) {
    .registration {
        margin: 0;
    }

    .paranormal-academy {
        margin: 0;
    }
}